#http://daringfireball.net/projects/markdown/syntax/
snippet url
	[${1}](${2})
snippet image
	![${1}](${2})
snippet ul
	- 
snippet ol
	1. 
snippet ol?
	1. ${1:line}
		${2:subsequent lines}
	> ${3:blockquote lines}
			${4:code}
snippet hr
	*****
snippet em
	*${1:text}*
snippet st
	**${1:strong_text}**
snippet code
	`${1:code_text}`
snippet cb
		${1:code_block}
